*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gill Sans MT';
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
/*HEADER*/
header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
}
header .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
header .links{
    font-size: 18px;
}
header ul{
    list-style-type: none;
    display: flex;
    gap: 55px;
}
/*HERO*/
.hero-banner{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 75px 10%;
}
.hero-banner .title{
    font-size: 48px;
    font-weight:bold;
    color: #f9faf8;
    margin-bottom: 6px;
    max-width: 430px;
}
.hero-banner .description{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
    max-width: 430px;
}
.hero-banner button{
    color: white;
    background-color: #3882f6;
    padding: 6px 23px;
    border-radius: 8px;
}